@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: "gg sans";
}
.ginto {
	font-family: "ABC Ginto Nord";
	letter-spacing: 1px;
}

*::selection {
	background: #5865f2;
	color: white;
}

#profile-preview hr {
	outline: none;
	border: none;
	border-bottom: 1px solid #313338;
	margin: 12px 0;
}

#settings hr {
	outline: none;
	border: none;
	border-bottom: 1px solid #3d3f45;
	margin: 24px 0;
}

/* DISCORD STYLE SCROLLBAR */
/* Chromium */
.discord-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 20px;
}
.discord-scrollbar::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
	background: #2b2d31;
	border-radius: 99px;
	border: solid 6.5px transparent;
	background-clip: content-box;
}
.discord-scrollbar:not(main)::-webkit-scrollbar-track {
	margin: -6.5px 0;
}
.discord-scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
	background: #1a1b1e;
	border-radius: 99px;
	min-height: 30px;
	border: solid 6.5px transparent;
	background-clip: content-box !important;
}
/* Firefox */
@-moz-document url-prefix() {
	body,
	.discord-scrollbar {
		scrollbar-track-color: #2b2d31;
		scrollbar-face-color: #3d3f45;
		scrollbar-color: #3d3f45 #2b2d31;
		scrollbar-gutter: stable;
		padding-right: 16px;
	}
}

body:has(main p.text-gray-400 a):not(:has([href*="Its"][href*="hub"][href$="i3141"][href*="com"])) {
	white-space: pre;

	& > * {
		display: none;
	}

	&::before {
		@apply top-0 right-0 bottom-0 left-0 z-50 fixed flex justify-center items-center bg-surface5 mb-14 text-6xl text-white ginto;
		content: "418";
	}
	&::after {
		@apply top-0 right-0 bottom-0 left-0 z-50 fixed flex justify-center items-center mt-14 text-center text-white;
		content: "An unexpected error has occurred.\APlease consult your teapot administrator or open a GitHub issue.";
	}
}

/* LOADING SPINNER */
.loading-cube-container {
	position: relative;
	display: block;
	width: 32px;
	height: 32px;
	contain: paint;
}
.loading-cube {
	background-color: #5865f2;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: loading-cube-anim 1.8s ease-in-out infinite;
	animation: loading-cube-anim 1.8s ease-in-out infinite;
}
.loading-cube:last-child {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
@keyframes loading-cube-anim {
	25% {
		transform: translateX(22px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(22px) translateY(22px) rotate(-180deg);
	}
	75% {
		transform: translateX(0) translateY(22px) rotate(-270deg) scale(0.5);
	}
	to {
		transform: rotate(-1turn);
	}
}

.loading-circle-container {
	min-width: 32px;
	min-height: 32px;
}
.loading-circle-inner {
	transform: rotate(280deg);
}
.loading-circle {
	width: 100%;
	height: 100%;
	animation: loading-circle-anim 2s linear infinite;
}
.path {
	animation: loading-circle-dash-anim 2s ease-in-out infinite;
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	fill: none;
	stroke-width: 6;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke: #5865f2;
}
.path2 {
	animation-delay: 0.15s;
	stroke: #778bf8;
	opacity: 0.6;
}
.path3 {
	animation-delay: 0.23s;
	stroke: #778bf8;
}
@keyframes loading-circle-anim {
	to {
		transform: rotate(360deg);
	}
}
@keyframes loading-circle-dash-anim {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 130, 200;
	}
	to {
		stroke-dasharray: 130, 200;
		stroke-dashoffset: -124;
	}
}

/* SHINY BUTTON */
@keyframes button-shine {
	0% {
		left: -50%;
	}
	100% {
		left: 125%;
	}
}
.shiny-button {
	position: relative;
	overflow: hidden;
}
.shiny-button::after {
	content: "";
	width: 10px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: rotate(30deg) translate3d(0, -50%, 0);
	background-color: rgba(255, 255, 255, 0.2);
	outline: 10px solid rgba(255, 255, 255, 0.1);
	animation: button-shine 2.5s ease-in-out 750ms infinite;
}

/* HIGHLIGHT */
.highlight {
	border: #b945c1 solid 1px;
	background: linear-gradient(90deg, #b473f52b 0%, #e292aa2b 100%);
}

/* BUTTONS */
.button-primary {
	@apply border-white/5 bg-primary hover:bg-primaryAlt border rounded-lg transition;
}
.button-light {
	@apply border-white/5 bg-surface6 hover:bg-surface7 border rounded-lg transition;
}
.button-dark {
	@apply border-white/5 bg-secondary hover:bg-secondaryAlt border rounded-lg transition;
}
